:root {
    --contrast: #271f30;
    /* --accent: #c0d6df; */
    --accent: #dddbcb;
    --text: #dbe9ee;
    --main-blue: #4a6fa5;
    --secondary-blue: #044876;
    /* --green: #00a676; */
    --green: #139A43;
    --yellow: #fac748;
    --pink: #f04b6b;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-blue);
    color: var(--text);
    font-family: sans-serif;
}

#nav {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-blue);
    height: 50px;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    padding: 1rem 1.5rem;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: var(--green);
    text-decoration: underline;
}

#nav-link-logo {
    padding: 0 2rem;
}

#nav-link-logo img {
    position: relative;
    height: 100%;
}

#banner {
    text-align: center;
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 4rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

#banner-resources, #banner-events {
    text-align: center;
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 6rem;
    margin: 1rem;
    font-size: 3rem;
    font-weight: 900;
}

#banner-resources {
    background-image: url(./images/owens.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    text-shadow: 5px 5px 10px #000;
}

#banner-events {
    background: url(./images/movietheater.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    text-shadow: 5px 5px 10px #000;
}

#resource-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--pink);
}

.resource {
    background-color: var(--secondary-blue);
    border: 1px solid var(--green);
    color: var(--text);
    
    border-radius: 2rem;
    padding: 1rem;
    margin: 0.2rem;
    transition: background-color 0.2s ease;
}

.resource:hover {
    background-color: var(--green);
}

.resource > * {
    margin-bottom: 0.5rem;
}

.resource-name {
    margin-bottom: 1rem;
}

.resource-website {
    color: var(--yellow);
    margin: 1rem 0;
}

.resource-details {
    display: flex;
    justify-content: center;
    border: 1px solid var(--accent);
    text-decoration: underline;
    padding: 0.2rem;
    gap: 1rem;
}

.resource-reach-out {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.resource-reach-out > * {
    border: 1px solid var(--accent);
    padding: 0.2rem;
}

#request-new-resource {
    text-align: center;
}

#request-new-resource a {
    color: var(--yellow);
}

#form-resource {
    max-width: 30%;
    margin-inline: auto;
    border: 2px solid var(--accent);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
}

#form-resource input[type="text"], #form-resource textarea {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    background-color: var(--secondary);
    color: var(--text);
}

#form-resource input[type="text"]::placeholder, #form-resource textarea::placeholder {
    color: var(--accent);
    opacity: 0.8;
}

#form-submit {
    width: 300px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    background-color: var(--secondary);
    color: var(--text);
    margin-inline: auto;
    grid-column: span 2;
    cursor: pointer;
}

#references {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    background-color: var(--contrast);
    padding: 1rem;
    row-gap: 1rem;
    border-radius: 1rem;
}

#references > * {
    color: var(--text);
    text-shadow: 2px 2px 5px var(--contrast);
    font-size: 20px;
    text-align: center;
}

#credit {
    color: var(--text);
    text-shadow: 2px 2px 5px var(--contrast);
    font-size: 16px;
    text-align: center;
    margin: 2rem;
}