* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #444;
    color: #fff;
    font-family: sans-serif;
}

#nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 50px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: #000;
    text-decoration: underline;
}

#nav-link-logo {
    padding: 0 2rem;
}

#nav-link-logo img {
    position: relative;
    height: 100%;
}