:root {
    --contrast: #271f30;
    --accent: #c0d6df;
    --text: #dbe9ee;
    --primary: #4a6fa5;
    --secondary: #166088;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary);
    color: var(--text);
    font-family: sans-serif;
}

#nav {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    height: 50px;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    padding: 1rem 1.5rem;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: var(--contrast);
    text-decoration: underline;
}

#nav-link-logo {
    padding: 0 2rem;
}

#nav-link-logo img {
    position: relative;
    height: 100%;
}

#banner {
    text-align: center;
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

#resource-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.resource {
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    
    border-radius: 2rem;
    padding: 1rem;
    margin: 0.2rem;
}

.resource > * {
    margin-bottom: 0.5rem;
}

.resource-name {
    margin-bottom: 1rem;
}

.resource-details {
    display: flex;
    justify-content: center;
    border: 1px solid var(--accent);
    text-decoration: underline;
    padding: 0.2rem;
}

.resource-reach-out {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.resource-reach-out > * {
    border: 1px solid var(--accent);
    padding: 0.2rem;
}

#request-new-resource {
    text-align: center;
}

#request-new-resource a {
    color: var(--contrast);
}

#form-resource {
    max-width: 30%;
    margin-inline: auto;
    border: 2px solid var(--accent);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
}

#form-resource input[type="text"], #form-resource textarea {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    background-color: var(--secondary);
    color: var(--text);
}

#form-resource input[type="text"]::placeholder, #form-resource textarea::placeholder {
    color: var(--accent);
    opacity: 0.8;
}

#form-submit {
    width: 300px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    background-color: var(--secondary);
    color: var(--text);
    margin-inline: auto;
    grid-column: span 2;
    cursor: pointer;
}