#banner-container {
    text-align: center;
    padding: 2rem;
    max-width: 60vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#banner-headline, #banner-subheadline {
    position: relative;
    width: max-content;
    margin-inline: auto;
}

@keyframes banner-line {
    0% {
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
    }

    40% {
        transform: scaleX(1);
        transform-origin: left;
    }

    41% {
        transform: scaleX(1);
        transform-origin: right;
    }

    80% {
        transform: scaleX(0);
        transform-origin: right;
    }

    100% {
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
    }
}

#banner-headline::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 5px;
    border-radius: 1rem;
    background-color: var(--secondary);

    animation: banner-line 5s ease infinite;
}