.about-header {
    margin-top: 3rem;
    text-align: center;
}

.about-repo-link {
    background-color: var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    margin: 3rem auto;
    display: block;
    width: max-content;
    text-decoration: none;
}

.about-repo-link:hover {
    text-decoration: underline;
    border: 2px solid var(--white);
}

.about-container {
    background-color: var(--secondary);
    width: 60%;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 2.5rem;
}

.about-container h3 {
    margin-bottom: 1rem;
}

.tech-card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}