.card-container {
    background-color: var(--secondary);
    border-radius: 0.5rem;
    /* padding: 1rem; */
    margin: 1rem;
}

.card-container > * {
    margin: 1rem;
}

.card-image {
    width: 100%;
    height: 180px;
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0;
    object-fit: cover;
    object-position: center 40%;
    overflow: hidden;
}

.card-container:hover {
    border: 2px solid var(--white);
}

hr {
    margin: 1rem 0;
}

a {
    color: var(--white);
}

.card-header {
    text-decoration: underline;
}

.card-info {
    display: flex;
    gap: 3rem;
}

.card-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-opinfo {
    display: flex;
    gap: 3rem;
}