footer {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--secondary);
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
}

.footer-right {
    text-align: right;
}