.tech-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
    height: 2rem;
    position: relative;

    background-color: var(--main);
    border-radius: 0.5rem;
    text-decoration: none;
}

.tech-card:hover {
    border: 2px solid var(--white);
}

.tech-card svg {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.tech-card p {
    font-size: 2rem;
    display: inline;
}