.card-container {
    background-color: var(--secondary);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

hr {
    margin: 1rem 0;
}

a {
    color: var(--white);
}

.card-info-header {
    text-decoration: underline;
    margin: 1rem 0;
}

.card-info {
    display: flex;
    gap: 3rem;
}