.card-container {
    background-color: var(--secondary);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

a {
    color: var(--white);
}

.card-contact-header, .card-opinfo-header {
    text-decoration: underline;
    margin-top: 1rem;
}

.card-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-opinfo {
    display: flex;
    gap: 3rem;
}